<head>
  <title>Eyes</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body class="crt">
  <div class="eyes-container">
    <div class="eye-container">
      <svg
        class="eye"
        viewBox="0 0 120 120"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
      >
        <mask id="eye-left-mask">
          <!-- Everything under a white pixel will be visible -->
          <rect x="0" y="0" width="100%" height="100%" fill="white" />

          <!-- Everything under a black pixel will be invisible -->
          <circle fill="black" cx="60" cy="60" r="0" class="empty-eye"></circle>
          <path d="M0,0" fill="black" id="eye-mask-top-left" />
        </mask>

        <circle
          fill="#000000"
          cx="60"
          cy="60"
          r="50"
          class="eye-inner"
          mask="url(#eye-left-mask)"
        />
      </svg>
    </div>
    <div class="eye-container">
      <svg
        class="eye"
        viewBox="0 0 120 120"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
      >
        <mask id="eye-right-mask">
          <!-- Everything under a white pixel will be visible -->
          <rect x="0" y="0" width="100%" height="100%" fill="white" />

          <!-- Everything under a black pixel will be invisible -->
          <circle fill="black" cx="60" cy="60" r="0" class="empty-eye"></circle>
          <path d="M0,0" fill="black" id="eye-mask-top-right" />
        </mask>
        <circle
          fill="#000000"
          cx="60"
          cy="60"
          r="50"
          class="eye-inner"
          mask="url(#eye-right-mask)"
        />
      </svg>
    </div>
  </div>
  <script src="jquery.min.js"></script>
  <script src="app.js"></script>
</body>
